VITE_API_BASE_URL="https://xlvi-digital-reptil-adventure-api.hf.space/api/v1"
VITE_IMAGE_BASE_URL="https://xlvi-digital-reptil-adventure-api.hf.space"
GEMINI_API_KEY="ISI_DENGAN_API_KEY_GEMINI_ANDA_DI_LOKAL"
APP_URL="https://reptil-adventure.vercel.app"